
*{
box-sizing: boder-box;
padding: 0;
margin: 0;
}

/* definição de fonte */
@font-face {
    font-family:LexendDeca;
    src: url(fontes/LexendDeca-Regular.ttf), url(fontes/Inter-Medium.ttf), url(fontes/Inter-Regular.ttf) ;
    font-weight: normal;
    font-style: normal;
}

/*criação de váriaveis de cores */
:root {
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;
  
    --title: #313131;
    --text: #B6B6B6;

    --linear:linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

body{
    font-family: 'LexendDeca' ,Arial,sans-serif;
    width: 100%;
    display:flex;
    align-items:center;
    background-color: #F3F5F7;

}



/*Formataçãode header*/
.main-header{
    width: 100%;
    height: 250px;
    background: var(--linear);   
    display:flex;
    justify-content: center;
    align-items: center;    
}

h1{
    color:var(--white);
    line-height:30px;
}

.header-nav{
    width:100%;
    max-width: 1200px;
    height: 200px;
    display:flex;
    justify-content:space-between;
    flex-direction: column ;

}

.container-title{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-contain h1{
    font-family: 'LexendDeca' ,Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;   
}


.search-box {
    width: 900px;
    height: 65px;
    left: 270px;
    top: 144px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display:flex;  
}

